[Unit]
Description=Node-RED
After=network.target
Documentation=http://nodered.org/

[Service]
Type=simple
User=nodered
Group=nodered
WorkingDirectory=/home/nodered

Environment="XDG_RUNTIME_DIR=/run/user/%U"
Environment="NODE_OPTIONS=--max_old_space_size=1024 --use-openssl-ca"
Environment="NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt"  

ExecStart=/usr/bin/node-red
Restart=on-failure
RestartSec=20
SyslogIdentifier=Node-RED
Nice=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
